
* {
  margin: 0;
}
.clearfix {
  zoom:1}

.clearfix:after,.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
}
.infoTitle {
  font-size: 14px;
  color: rgba(51,51,51,0.85);
  border-bottom: 1px solid rgba(0,0,0,0.06);
  line-height: 24px;
  padding-bottom: 10px;
  cursor: pointer;
}
.projectList {
  color: rgba(102,102,102,0.85);
  font-size: 12px;
}
.projectList li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #aeaeae;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}
.projectList li div{
  text-align: left;
  width: 33.33%;
}
.cursorStyle{
  cursor: pointer;
}
.topfixed{
  position: fixed;
  right: 15px;
  top: 20px;
  width: 585px;
  height: 40px;
  background: #ffffff;
  z-index: 9;
  border-radius: 30px;
  -moz-box-shadow: 8px 6px 7px #888888; /* 老的 Firefox */
  box-shadow: 8px 6px 7px #888888;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0 20px;
}
.topfixed select{
  display: block;
  width: 132px;
  height: 30px;
  font-size: 16px;
  margin-top: 6px;
  background: #ffffff;
  border:none;
}
.InfoWindowbtn{
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.InfoWindowbtn button{
  cursor: pointer;
  color: #fff;
  height: 30px;
  width: 250px;
  font-size: 12px;
  border-radius: 30px;
  border:none;
  background: -webkit-linear-gradient(left, #72b0f7 , #6261ef); /* Safari 5.1 - 6.0 */
 background: -o-linear-gradient(right, #72b0f7, #6261ef); /* Opera 11.1 - 12.0 */
 background: -moz-linear-gradient(right, #72b0f7, #6261ef); /* Firefox 3.6 - 15 */
 background: linear-gradient(to right, #72b0f7 , #6261ef); /* 标准的语法 */
 outline: none;
}
.InfoWindowview{
  margin-top: 8px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: #72acf6;
  text-decoration: underline;
}
.goback{
  color: red;
  font-size: 14px;
  position: fixed;
  left: 100px;
  top: 23px;
  width: 55px;
  height: 30px;
  line-height: 30px;
  background: #ffffff;
  z-index: 9;
  border-radius: 25px;
  -moz-box-shadow: 8px 6px 7px #888888; /* 老的 Firefox */
  box-shadow: 8px 6px 7px #888888;
  text-align: center;
  cursor: pointer;
}

.title {
  position: absolute;
  top: -31px;
  left: -50px;
  font-size: 12px;
  color: rgba(102,102,102,0.85);
  background: #fff;
  z-index: 2;
  line-height: 24px;
  width: 114px;
  max-width: 250px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  -moz-box-shadow: 4px 0 3px #f1f0f0; /* 老的 Firefox */
  box-shadow: 4px 0 3px #f1f0f0;
}
.tittlename{
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  color: #333;
}
.imgstyle{
  width: 20px;
  height: 20px;
}
.imgstyless{
  width: 25px;
  height: 24px;
}
.triangle_bottom{
  z-index: 2;
  position: absolute;
  top: -7px;
  left: 3px;
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-top: 8px solid #ffffff;
}

.rightItem {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background: #fff;
}
.itemTitle {
  height: 100%;
  line-height: 40px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.itemTitle:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 8px;
}
.checkWrap {
  display: none;
}
.checkWrapStyle{
   background: #fff;
  text-align: center;
  -moz-box-shadow: 4px 3px 4px #888888; /* 老的 Firefox */
  box-shadow: 4px 3px 4px #888888;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #ccc;
  padding-bottom: 5px;
}
.thatStyle{
  background: #fff;
 text-align: left;
 padding-left: 6px;
 -moz-box-shadow: 4px 3px 4px #888888; /* 老的 Firefox */
 box-shadow: 4px 3px 4px #888888;
 border-radius: 5px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 border-top: 1px solid #ccc;
 padding-bottom: 5px;
 font-size: 12px;
}
.checkItem {
  height: 30px;
  line-height: 30px;
}
.leftmenu{
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 99;
}
.lefticon{
  width: 37px;
  height: 37px;
  background: url(../assets/menu.png) no-repeat center;
  background-size: 37px 37px;
  cursor: pointer;
}
.menulist{
  -moz-box-shadow: 4px 3px 4px #888888; /* 老的 Firefox */
  box-shadow: 4px 3px 4px #888888;
  color: #818181;
  font-size: 14px;
  margin-top: 10px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 4px;
}
.menulist>div>div{
  padding: 0 15px;
  margin-top: 10px;
  cursor: pointer;
}
.menulist>div>div:hover,.clickcolor{
  color: #6783f2
}

.menulist>div>div:last-child{
  padding-bottom: 13px;
}
.secondtitle{
  position: absolute;
  top: -31px;
  left: -100px;
  font-size: 12px;
  color: rgba(102,102,102,0.85);
  background: #fff;
  z-index: 2;
  line-height: 24px;
  width: 235px;
  max-width: 250px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  -moz-box-shadow: 4px 0 3px #f1f0f0; /* 老的 Firefox */
  box-shadow: 4px 0 3px #f1f0f0;
}
.secondtittlename{
  width: 90px;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  color: #333;
  margin-right: 7px;
}
.leftChart{
   -moz-box-shadow: 4px 3px 4px #888888; /* 老的 Firefox */
  box-shadow: 4px 3px 4px #888888;
  border-radius: 4px;
  background: #fff;
}
.leftChart>div{
  width: 750px;
  height: 320px;
  padding: 8px;
  margin: 1px auto;
  padding-top: 20px
}
.itemDetailCont{
  width: 100%;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 199;
}
.itemdetailDiv{
  font-size: 14px;
  color: #333;
}
.closeBtn{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  text-align: center;
  right: 40px;
  top: 15px;
  position: absolute;
}
.detailInfoCont{
  border: 1px solid #f4f5f6;
  width: 1000px;
  margin: 50px auto 0 ;
  background: #f4f5f6;
}
.itemDetailList{
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detailLeft{
  width: 150px;
  border-right: 1px solid #ccc;
  color: #999;
  padding: 10px 0;
}
.detailRight{
  flex: 1;
  padding:10px 0 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detailInfoList{
  width:100%;
  padding-left: 10px;
  border-bottom: 1px solid #f4f5f6;
  padding: 12px 10px;
}
.itemdivborder{
  border:1px solid #999;
  line-height: 20px;
  margin-right: 15px;
  text-align: center;
  background: #fff;
  padding: 1px 10px;

}
.itemdiv{
  border-right: 1px solid #ccc;
  text-align: center;
  margin-right: 12px;
  padding-right: 15px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: left;
}
.itemdiv>span{
  color: #999;
}
.itemDevelopment{
  border: 1px solid #f4f5f6;
  width: 1000px;
  margin: 40px auto 0 ;
  padding:10px 20px 0;
  -moz-box-shadow: 1px 1px 1px #f4f5f6; /* 老的 Firefox */
  box-shadow: 1px 1px 3px #f4f5f6;
}
.topDevelopment{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.topimage{
  width: 590px;
  height: 340px;
}

.topimage img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.selectimg{
  width: 170px;
  height: 340px;
  display: flex;
  flex-direction:column;
  align-items:center;
  border: 1px solid #e8e8e8;
  border-left: none;
  -moz-box-shadow: 1px 1px 1px #f4f5f6; /* 老的 Firefox */
  box-shadow: 1px 1px 5px #f4f5f6;
}
.selectImgBtn{
   width:65px;
   height: 28px;
   line-height: 28px;
   border-radius: 20px;
   font-size: 12px;
   color: #fff;
   text-align: center;
   background: -webkit-linear-gradient(left, #72b0f7 , #6261ef); /* Safari 5.1 - 6.0 */
   background: -o-linear-gradient(right, #72b0f7, #6261ef); /* Opera 11.1 - 12.0 */
   background: -moz-linear-gradient(right, #72b0f7, #6261ef); /* Firefox 3.6 - 15 */
   background: linear-gradient(to right, #72b0f7 , #6261ef); /* 标准的语法 */
   cursor: pointer;
}
.selectimg div{
  margin-top: 20px;
}

.selectTime{
  width: 110px;
  height: 220px;
  margin:35px 0 0 40px;
  text-align: center;
}
.timeDotTitle{
  margin-bottom: 15px;
}
.timeDot{
  height: 30px;
  border-right: 2px solid #1890ff;
  font-size: 12px;
  cursor: pointer;
  line-height: 30px;
}
.timeDotSelect{
  color: #1890ff;
  height: 30px;
  border-right: 2px solid #1890ff;
  font-size: 12px;
  cursor: pointer;
  line-height: 30px;
}

.topTitle{
  margin: 15px 0 7px;
  color: #333;
}
.itemTitleInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  margin: 15px 0;
  padding-bottom: 15px;
}
.itemTitleInfoone,.itemTitleInfotwo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  color: #888;
  line-height: 26px;
}
.itemTitleInfotwo{
  margin-left: 50px;
}
.itemTitleInfoone>div{
  width: 360px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #e8e8e8;
  margin-left: 10px;
  padding-left: 10px;
  color: #333;
  font-size: 12px;
}
.itemTitleInfotwo>div{
  font-size: 12px;
  line-height: 26px;
  width: 220px;
  height: 26px;
  border: 1px solid #e8e8e8;
  margin-left: 10px;
  padding-left: 10px;
  color: #333;
  font-size: 12px;
}
.sliderImg{
  width: 590px;
  height: 340px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.sliderStyle{
  height: 200px;
  margin-Left: 70px;
}
.timeCont{
  height: 210px;
  display: flex;
  flex-direction: column;
}
.pietable{
  margin: 0 auto;
}
