
html, body, :global(#root) {
  height: 100%;
}
:global(.amap-marker-label) {
  border-radius: 4px !important;
  border: 1px solid rgba(0,0,0,0.06);
  color: rgba(102,102,102,0.85);
}
:global(.amap-marker-content img) {

}
:global(.amap-info-sharp) {
  width: 0px;
  height:3px !important;
  border: 7px solid transparent;
  border-top: 9px solid #ffffff;
  background: transparent;
  left: -3.1%;
}
:global(.amap-info-content) {
height: auto !important;
}
:global(.ant-table-tbody > tr > td){
  padding: 13px 15px !important;
  min-width: 120px !important;
}
:global(.ant-carousel .slick-dots li button){
  height: 5px !important;
  opacity: 0.4 !important;

}
:global(.ant-carousel .slick-dots li.slick-active button) {
    background: #1890ff !important;
    opacity: 1 !important;
    width: 20px;
}
